<div class="container stock">

  <h1>Stocks</h1>

  <table class="table table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th>Company Name</th>
        <th>Ticker</th>
        <th>Current Price</th>
        <th>Company Worth</th>
      </tr>
    </thead>

    <tbody>
      <% @stocks.each do |stock| %>
        <% if stock.user_id == current_user.id %>
         <% begin %>
          <% @stock = StockQuote::Stock.quote(stock.ticker) %>
        <% rescue StandError %>
          <tr>
            <td><%= stock.ticker %></td>
            <td><%= "N/A" %></td>
          </tr>
         <% next %>
        <% end %>
       
          <tr>
            <td><%= link_to @stock.company_name, stock %></td>
            <td><%= stock.ticker %></td>
            <td><%= @stock.open %></td>
            <td><%= @stock.market_cap %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Stock', new_stock_path, class: "btn btn-primary" %>
  
</div>