<%= form_tag root_path, method: "POST" do %>
    <%= text_field_tag 'id', nil, placeholder: 'Enter Company Ticker Symbol', size: 50  %>
    <%= submit_tag 'Look Up Stock Quote' %>
  </div>
<% end %>

<% if @stock %>
  <%= @stock.company_name %>
<% elsif @nothing %>
  <%= @nothing %>
<% end %>
    